# Projeto 2 - Ciência dos Dados

Nome: Eduardo Janes Vescovi <br />
Nome: Fabio Dotoli Ferreira Filho <br />
Nome: José Rafael Martins Fernandes <br />
Nome: Lucca Barufatti Velini Sanches

## Proposta do projeto:

Carregando algumas bibliotecas:

In [26]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re
from math import *
from IPython.display import display
pd.options.display.max_rows = 13

Localizando o arquivo

In [27]:
filename = 'car.data'
if filename in os.listdir():
    print(f'Encontrei o arquivo {filename}, tudo certo para prosseguir com o projeto!')
else:
    print(f'Não encontrei o arquivo {filename} aqui no diretório {os.getcwd()}, será que você não baixou o arquivo?')

Encontrei o arquivo car.data, tudo certo para prosseguir com o projeto!

Carregando o arquivo

In [23]:
train = pd.read_csv(filename, names=['Buying', 'Maint', 'Doors', 'Capacity', 'Lug_boot', 'Safety', 'Car_acceptability'])
train

     Buying  Maint  Doors Capacity Lug_boot Safety Car_acceptability
0     vhigh  vhigh      2        2    small    low             unacc
1     vhigh  vhigh      2        2    small    med             unacc
2     vhigh  vhigh      2        2    small   high             unacc
3     vhigh  vhigh      2        2      med    low             unacc
4     vhigh  vhigh      2        2      med    med             unacc
...     ...    ...    ...      ...      ...    ...               ...
1723    low    low  5more     more      med    med              good
1724    low    low  5more     more      med   high             vgood
1725    low    low  5more     more      big    low             unacc
1726    low    low  5more     more      big    med              good
1727    low    low  5more     more      big   high             vgood

[1728 rows x 7 columns]